/*Geral*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #000000;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.headerBanner {
    height: 35vh;
    background: url(images/bannerInicial.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -0.8%;
    margin-top: -0.75%;
}

.conteudoBanner {
    padding-top: 10%;
    margin-left: 50%;
    text-align: center;
}

.conteudoBanner span {
    color: #47F500;;
}

/*NavBar*/
nav {
    text-align: center;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: -0.5%;
}

nav img {
    width: 3vw;
}

nav ul {
    float: center;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}

ul li:nth-of-type(1) {
    margin-right: 70vw;
}

ul li:nth-of-type(1) :hover {
    filter: saturate(200%);
    transition-duration: 0.5s;
}

ul li:nth-of-type(2) :hover {
    color: #47F500;
    transition-duration: 0.5s;
}

ul li:nth-of-type(3) :hover {
    color: #47F500;
    transition-duration: 0.5s;
}

ul li:nth-of-type(4) :hover {
    color: #47F500;
    transition-duration: 0.5s;
}

ul li:nth-of-type(5) {
    background-color: #47F500;
    border:#47F500 5px solid;
    border-radius: 5%;
}

/*Container*/

/* Seção 1*/
.secaoUm {
    margin-top: -1.7%;
    height: 60vh;
    text-align: center;
    background-image: linear-gradient(to right, #181818 ,#000000);
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.secaoUm :hover {
    transform: scale(1.03);
    z-index: 1;
}

.secaoUm h2 {
   padding-right: -10%;
   padding-top: 12%;
}

.card {
    color: #181818;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 #1a1a1a;
	padding: 2rem;
	margin: 2rem;
	width: 10vw;
    height: 35vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.card h2 {
    font-family: helvetica;
	font-size: 24px;
	margin-bottom: 10px;
}

.card p {
    font-family: helvetica;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.card img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.card button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color:#47F500;
    color: white;
}

/*Seção 2*/
.secaoDois {
    margin-top: -1.7%;
    height: 60vh;
    text-align: center;
    background-color: #47F500;
    color: #181818;
    padding: 2rem;
}

.trabalheConosco {
    color: #181818;
	background-color: white;
	padding: 2rem;
	margin: 2rem;
	width: 30vw;
    height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
    margin-top: -5rem;
}

.trabalheConosco img {
	width: 80%;
	height: auto;
    padding: 1rem;
}

.trabalheConosco button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color:#181818;
    color: white;
}

.textoSecaoDois {
    height: 20vh;
    margin-left: 40%;
    margin-top: -27%;
    text-align: center;
    font-weight: 600;
}

.textoSecaoDois img {
    height: 100%;
}

.textoSecaoDois button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color:#181818;
    color: white;
}

/*Rodapé*/
footer {
    position: relative;
    width: 100%;
    min-height: 10rem;
    overflow-y: hidden;
    background-image: linear-gradient(#181818 ,#000000);
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    text-transform: normal;
    display: flex;
    flex-direction: row;
    text-align: center;
}

footer h2 {
    color: #47F500;
    text-align: center;
}

footer ul {
    color: #47F500;
    text-align: center;
}

footer ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
}

footer ul li a :visited {
    color: white;
    text-decoration: none;
    text-align: center;
}

.col-span {
    align-items: center;
    width: 20%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}